@charset "ISO-8859-1";

*{
	font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
	color: #FFFFFF;
	font-family: Georgia;
}

a {
	color: #FFFFFF;
	font-family: Georgia;
}


#banner {
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

#js {
	width: 60vw;
	margin-top: 10vh;
	margin-left: 20vw;
	overflow-x: hidden;
}

.page {
	font-family: Arial, sans-serif;
  	width: 95vw;
  	height: 95vh;
  	padding-bottom: 100px;
}

.header {
	text-align: center;
	
	margin: auto;
	width: 100vw;
	height: 30vh;
	overflow-x: hidden;
	
	background-color: #333333;
}

.header-text {
	margin: auto;
	margin-top: 10vh;
	font-size: 30px;
	

}

.header-links {
	margin-left: 7vw;
	margin-top: 3vh;
	color: #FFFFFF;
	font-family: Arial;
	float: left;
}

.text {
	text-align: left;
	
	margin: auto;
	margin-top: 50px;
	width: 55vw;
	margin-bottom: 150px;
}

.text a{
	font: Arial;
	color: blue;
}

.preview {
	text-align: left;
	
	width: 60vw;	
	height: 30vh;
	margin: auto;
	margin-top: 30px;
}

.preview-text { 
	height: 25vh;
	width: 35vw;
	margin: auto;
	float: right;
}

.preview-img {
	height: 25vh;
	margin: auto;
	border: 1px solid black;
	float: left
}
