@charset "ISO-8859-1";

.page {
  	width: 95vw;
  	height: 95vh;
}

.header {
	font-family: Arial, sans-serif;
	text-align: center;
	
	margin: auto;
	width: 600px;
}

.text {
	font-family: Arial, sans-serif;
	text-align: left;
	
	margin: auto;
	width: 800px;
}

.links {
	font-family: Arial, sans-serif;
	text-align: left;
	
	margin: auto;
	width: 1000px;
}
