@charset "ISO-8859-1";

html, body {
    margin: 0;
    padding: 0;
}

#js {
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

.page {
	font-family: Arial, sans-serif;
  	width: 95vw;
  	height: 95vh;
}

.header {
	font-family: Arial, sans-serif;
	text-align: center;
	
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	width: 50vw;
}

.text {
	text-align: left;
	
	margin: auto;
	width: 55vw;
}

.preview {
	text-align: left;
	
	width: 60vw;	
	height: 30vh;
	margin: auto;
	margin-top: 30px;
}

.preview-text { 
	height: 25vh;
	width: 35vw;
	margin: auto;
	float: right;
}

.preview-img {
	height: 25vh;
	margin: auto;
	border: 1px solid black;
	float: left
}
