@charset "ISO-8859-1";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
	color: #FFFFFF;
	font-family: Georgia;
}

h2 {
	color: #000000;
	font-family: Arial;
}

p {
	color: #212121;
	line-height: 1.4;
	font-family: Georgia;
}

a {
	color: #444444;
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
  	color: #999999;
}

#banner {
	position:absolute;
    width: 100%;
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    background: 51, 51, 51;
}

#js {
	width: 60vw;
	margin-top: 10vh;
	margin-left: 20vw;
	overflow-x: hidden;
}

.page {
	width: 95vw;
	margin: 0 auto;
	position: relative;
}

.blog {
	width: 40vw;
	position: relative;
	margin: auto;
	margin-bottom: 30px;
}

.blog_image {
	margin: 30px auto;
	border: 1px solid black;
	position: relative;
	display: block;
}

.gallery {
	list-style-type: none;
	margin: 30px auto;
	position: relative;
	width: 60vw;
	display: block;
	text-align: center;
}

.gallery_entry {
	border: 1px solid black;
	position: relative;
	height: 30vh;
	margin: 20px;
	display: inline-block;
}

.nav_links {
	height: 50px;
	width: 100vw;
	margin: auto;
	margin-top: 15px;
	display: inline-block;
	text-align: center;
	overflow-x: hidden;
}

.nav_link {
	display:inline-flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 40px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}


.personal_description {
	text-align: left;
	float: auto;
	width: 60vw;
	height: 30vh;
	margin: auto;
	margin-top: 30px;
	font-family: Arial, sans-serif;
}

.personal_description_text { 
	height: 25vh;
	width: 35vw;
	margin: auto;
	float: right;
}

.personal_description_image {
	height: 25vh;
	margin: auto;
	border: 1px solid black;
	float: left;
}

.header {

	font-family: Arial, sans-serif;
	text-align: center;
	
	margin: auto;
	width: 100vw;
	height: 240px;
	overflow-x: hidden;
	
	background-color: #333333;
}

.header-text {
	position: relative;
	text-align: center;
	top: 20%;
	font-size: 30px;
}

.header-links {
	margin-left: 10vw;
	margin-top: 5vh;
}

.text {
	text-align: left;
	
	margin: auto;
	margin-bottom: 100px;
	width: 55vw;
}

.preview {
	text-align: left;
	float: auto;
	width: 60vw;
	height: 30vh;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid black;
}

.preview-text { 
	height: 25vh;
	width: 35vw;
	margin: auto;
	float: right;
}

.preview-text h2{
	font-family: Arial;
}

.preview-img {
	height: 25vh;
	margin: auto;
	border: 1px solid black;
	float: left;
}

.footer {
  	bottom:0;
  	left:0;
  	width:60vw;
  	height: 90px;
  	padding-left: 20vw;
  	padding-right: 17vw;
  	margin-bottom: 0;
  	overflow-x: hidden;
}

.footer li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	overflow-x: hidden;
}